body {
  margin: 0;
  font-family: 'Jost', sans-serif !important;
}

ul{
  list-style-type: none;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0 !important;
}

.title {
  font-weight: 600;
  margin-bottom: 30px;
  padding: 0 !important;
}

.left-padding {
  padding-left: 2.5% !important;
}

.container-formatting {
  width: 90% !important;
  margin: 60px auto;
}

/* NAVBAR */
.nav--yellow-stripe {
  width: 100%;
  height: 25px;
  background-color: #FFC226;
  padding:0;
}

.navbar {
  width: 100%;
  height: 90px;
  background-color: #242424;
  padding-top: 0;
}

.logo {
  width: 240px;
}

.navbar-link {
  /* text-decoration: none;
  color: white; */
}


.nav--items li a {
  position: relative;
  text-decoration: none;
  color: white;
}

.nav--items li a:after {
  content: "";
  position: absolute;
  background-color: #FFC226;
  height: 3px;
  width: 0;
  left: 1px;
  bottom: -3px;
  transition: 0.4s;
}

.nav--items li a:hover {
  color: white;
}

.nav--items li a:hover:after {
  width: 100%;
}

.navbar .container-fluid {
  width: 96%;
}

.lang-switch {
  padding-left: 20px;
}

.lang-switch .MuiFormControlLabel-label {
  font-size: 19px !important;
}

.navbar h1 {
  color: white;
}

.nav--items {
  color: white;
  margin: 0;
}

.nav--items li{
  display: inline;
  float: left;
  font-size: 23px;
  padding: 0 25px
}

.container-fluid {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.homepage {
  background-image: url(./images/main_background.jpeg);
  height: 100vh;
  width: 100%;
  scroll-margin-top: 7rem;
}

.home-main-content {
  text-align: center;
  padding-top: 350px;
}

.home-page-text {
  font-size: 60px;
  color: white;
  text-shadow: 1px 1px 20px #000000aa;
}

.home-page-text span{
  color: #FFC226;
}


.main-page-button {
  color: white !important;
  font-size: 22px !important;
  border-radius: 7px !important;
  margin-top: 10px;
}



/* PROGRAMS */

.programs {
  margin-top: 70px;
  scroll-margin-top: 10.5em;
}

/* CARDS */
.league_card {
  width: 85% !important;
  margin: 0 auto;
}

.league_card--image {
  width: 100%;
  height: 270px;
  object-fit: cover;
  
}

.league_card--body {
  text-align: center;
}

.league_card--title {
  font-size: 1.75em !important;
}

/* Tournaments */

.tournament-logo {
  width: 240px;
}

.tournament_title {
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: 600;
}

.tournament_details {
  font-size: 20px;
  margin-bottom: 5px;
}

.wide_image {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: 50% 75%;
}

.tournaments svg {
  margin-right: 15px;
  /* width: 30px; */
}


/* Fields */
.fields {
  scroll-margin-top: 10.5em;
}

.fields--description {
  margin-bottom: 40px;
  width: 97%;
  text-align: justify;
}

/* Accordion */
.accordion-item {
  width: 98%;
}

.accordion-body {
  padding-top: 35px !important;
}

.accordion-button {
  padding: 18px 15px !important;
  font-size: 18px !important;
  font-weight: 400;
}

/* Team */
.team {
  scroll-margin-top: 10.5em;
}

/* Player Cards */
.player-card {
  margin: 10px 30px 35px 30px;
  width: 16% !important;
}


.player-card--body {
  text-align: center;
  padding: 15px 7px 7px 7px !important;
}

.player-card--img {
  max-height: 230px;
  object-fit: cover;
  object-position: top;
}

.player-card--name {
  margin-bottom: 10px !important; 
  font-size: 21px;
  font-weight: 600 !important;
}

.player-card--position {
  margin-bottom: 0;
  font-weight: 400;
}

.player-card--jersey {
  font-weight: 800;
}

/* Modals */
.modal-content {
  /* background-color: black !important; */
}

.modal-link{
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.modal-container {
  padding: 0 !important;
}

.modal-header {
  border-bottom: none !important;
  padding: 25px 25px 10px 25px !important; 
}

.modal-footer {
  border-top: none !important;
  padding: 30px 50px 20px 12px !important;
}

/* League Modals */
.league-modal--body {
  padding: 0 30px !important; 
}

.league-modal--title {
  font-size: 30px;
  margin-bottom: 40px !important;
}

.league-modal--row {
  margin-bottom: 10px !important;
  margin-top: 40px !important;
}

.league-modal--img {
  width: 92%;
  height: 360px;
  object-fit: cover;
  border-radius: 10px;
}


.league-modal--description {
  text-align: justify;
  width: 90%;
}

.age-icon {
  width: 45px;
  height: 48px;
  display: block;
  margin: 15px 0;
}

.skill-level-icon {
  width: 50px;
  height: 48px;
  display: block;
  margin: 15px 0;
}

.field-icon {
  width: 50px;
  height: 50px;
  display: block;
  margin: 15px 0;
}

.league-icon-desc {
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
}


.sign-up-button {
  color: white !important;
}


/* Field Modals */
.field-modal--body {
  padding: 16px 30px !important; 
}

.field-modal--title {
  font-size: 30px;
  margin-bottom: 15px !important;
}

.field-modal--description {
  text-align: justify;
}

.field-modal--img {
  width: 93%;
  height: 280px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 30px;
}

.icons {
  padding-top: 25px; 
}

.grass-icon {
  width: 42px;
  height: 48px;
  display: block;
}

.measurement-icon {
  width: 50px;
  height: 53px;
  display: block;
}

.icons .field-icon-desc-col {
  margin-top: 32px;
}

.icon-desc {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 500;
}


/* Contact us */
.contact {
  scroll-margin-top: 10.5em;
}

.map-container {
  width: 100%;
  height: 600px;
}

.contact-item-container {
  padding-left: 5.5% !important;
  margin-bottom: 12% !important;
}

.contact-item-title {
  font-size: 29px;
  font-weight: 600;
}

.contact-item-item {
  font-size: 21px;
  font-weight: 400;
}

.message-row {
  background-color: #e2e2e2;
}

.message-container {
  width: 40% !important;
  margin: 30px auto !important;
  padding: 30px 0 40px 0;
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 5px 20px #bdbdbd;
}

.contact-form-title {
  padding-left: 17.5%;
}

.contact-form--label {
  color: #646464;
  margin: 25px 0 6px 3px !important;
}

.contact-form--input {
  padding: 15px 10px !important;
  border: 1px solid rgba(69, 69, 69, 0.388) !important;
}

.contact-form--group {
  margin: 0 auto !important;
  width: 65% !important;
}

.contact-submit-button {
  margin-top: 5%;
  width: 12vh;
  margin-left: 17.6%;
  color: white !important;
  font-size: 18px !important;
}


/* Gallery */
.gallery {
  scroll-margin-top: 9.5em;
}

.gallery-col {
  margin: 12px 0;
}

.gallery-img {
  width: 100%;
  object-fit: cover;
}

/* Search */
.search {
  scroll-margin-top: 2em;
}

.filters-col {
  position: sticky;
  top: 175px;
}

/* Seacrh card */
.search-card-link {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.search-card {
  width: 33.3333% !important;
  display: inline-block;
  margin-bottom: 60px;
}

.search-card--img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}

.search-card--title {
  margin: 15px 0 10px;
  font-size: 25px;
  font-weight: 500;
}

.search-card--desc {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 400;
  color: #5d5d5d;
}

.search-form-group {
  margin: 20px 0 0 0;
}

.search-form {
  width: 75% !important;
}

.search-form-label {
  font-size: 18px;
  font-weight: 500;
}


/* Signup Modal */
.signup-modal--title {
  font-size: 30px;
  margin-bottom: 40px !important;
  text-align: center;
}

.signup-modal--body {
  padding: 0 30px !important; 
}

.signup-form--label {
  color: #646464;
  margin: 25px 0 6px 3px !important;
}

.signup-form--input {
  padding: 15px 10px !important;
  border: 1px solid rgba(69, 69, 69, 0.388) !important;
}

.signup-form--group {
  margin: 0 auto !important;
  width: 45% !important;
}

.error-message {
  font-size: 14px;
  margin-top: 7px;
  padding-left: 3px;
  color: red;
  display: none;
}

.signup-form--input:invalid ~ .error-message {
  display: block;
}

.contact-form--input:invalid ~ .error-message {
  display: block;
}

.sign-up-submit-button {
  float: right;
  margin-right: 3.5%;
  margin-top: 5%;
  color: white !important;
  font-size: 18px !important;
}

/* Confirmation Modal */
.modal-container-confirmation {
  text-align: center;
}

.confirmation-icon {
  width: 18%;
  margin-bottom: 20px;
}

.confirmation-modal-text {
  font-size: 21px;
  margin: 8px 0 0 0;
}
